body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 20px;
  background-color: #1e2329;
  color: #ffffff;
}

.container {
  max-width: 800px;
  margin: auto;
  background: rgba(30, 35, 41, 0.8);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1 {
  text-align: center;
  color: #ffffff;
}

.race-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.race-info span {
  font-size: 18px;
  font-weight: bold;
}

#raceMode {
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  background-color: #f44336;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #2c3238;
}

th {
  background-color: #2196f3;
  color: #ffffff;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #2c3238;
}

tr:hover {
  background-color: #3a4148;
}

.fastest-lap {
  color: #ffc107;
}
