body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    width: 90%;
    max-width: 1200px;
    text-align: center;
    color: white;
    background-color: black;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    height: 90%;
}

h2 {
    font-size: 1em;
    margin-bottom: 20px;
}

#driverList {
    font-size: 2.5em;
    margin-top: 20px;
    padding-top: 20px; /* Add space on top of the driver list */
    text-align: center; /* Center the content */
    max-width: 90%;
}

#driverList p {
    display: inline-block; /* Make the <p> elements inline-block */
    width: 90%; /* Set the width to 90% */
    margin: 0 auto 10px auto; /* Center the <p> elements and add space between rows */
}

#driverList p:nth-child(odd) {
    background-color: #333; /* Slightly lighter background for odd lines */
    max-width: 90%;
}

button.fullscreen-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 1.5em;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button.fullscreen-btn:hover {
    background-color: #0056b3;
}