@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap");


body {
    font-family: "Orbitron", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    width: 90%;
    max-width: 1200px;
    text-align: center;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h2 {
    font-size: 3em;
    margin-bottom: 20px;
}

#countdownCircle {
    position: relative;
    width: 20em;
    height: 20em;
    margin: 1em auto;
}

#countdown {
    font-size: 2em; /* Default size inside the circle */
    font-weight: bold;
    color: #007bff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button.fullscreen-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 1.5em;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
}

button.fullscreen-btn:hover {
    background-color: #0056b3;
}

/* New styles for the SVG countdown circle */
:root {
    --duration: 600; /* 10 minutes in seconds */
    --color1: #8a9b0f;
    --color2: #940a3d;
}

svg {
    width: 100%;
    height: 100%;
}

circle {
    fill: none;
    stroke: silver;
}

circle:nth-child(2) {
    stroke-linecap: round;
    stroke: var(--color1);
    stroke-dasharray: 1;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

/* Fullscreen styles */
:fullscreen #countdownCircle {
    width: 100vw;
    height: 100vh;
}

:fullscreen #countdown {
    font-size: 10vw; /* Larger size in full-screen mode */
}